/*Reset*/
body,h1,h3,p,ul,li,section{
    margin:0;
    padding:0;
}
/*Common*/
img{
    display:block;
    width:100%;
}

html{
    scroll-behavior:smooth;
}
/*Header*/
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 35px;
    height:60px;
    line-height:0;
}

.logo img{
    width:120px;
    height:auto;
}

header ul{
    display:flex;
    gap:30px;
    list-style:none;
}

header a{
    text-decoration:none;
    color:#333;
    font-size:16px;
}
/*Main Visual*/
.main-visual img{
    width:100%;
}
/*About*/
.about{
    padding:80px 20px;
    text-align: center;
}

.about h1{
    font-size:32px;
    margin-bottom:40px;
    font-weight:bold;
    padding-bottom:10px;
    border-bottom:1px solid #333;
    display:inline-block;
}

.about-content{
    display:flex;
    justify-content: center;
    gap:30px;
    align-items:center;
    max-width:900px;
    margin:0 auto;
}

.about-content img{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50%;
}

.about-content .text h3{
    font-size:16px;
    margin-bottom:10px;
}

.about-content .text p{
    line-height:1.8;
}
/*Bicycle*/
.bicycle{
    max-width:900px;
    margin:0 auto;
    padding:60px 20px;
    text-align: center;
}

.bicycle h1{
    font-size:32px;
    margin-bottom:40px;
    font-weight:bold;
    padding-bottom:10px;
    border-bottom:1px solid #333;
    display:inline-block;
}

.bicycle-list{
    display:flex;
    justify-content:space-between;
    gap:20px;
    max-width:900px;
    margin:0 auto;
}

.bicycle-item{
    width:30%;
}

.bicycle-item img{
    margin-bottom:10px;
}

.bicycle-item h3{
    font-size:16px;
}
.bicycle-item p{
    font-size:14px;
}
/*Footer*/
footer{
    background:#fff;
    color:#777;
    text-align: center;
    padding:20px 0;
    font-size:10px;

}
/*Responsive*/
@media(max-width:768px){
    .about{
        padding:60px 20px;
    }
    .bicycle-list{
        flex-direction:column;
        gap:40px;
        max-width:100%;
        margin:0;
    }
    .bicycle-item{
        width:100%;
    }
}
